<h1> {{ title }} </h1>

<div class="d-flex">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
    <li ngbNavItem="top">
      <a ngbNavLink>Add fishcard</a>
      <ng-template ngbNavContent>
        <app-flashcard-edit></app-flashcard-edit>
      </ng-template>
    </li>
    <li ngbNavItem="middle">
      <a ngbNavLink>Show fishcards</a>
      <ng-template ngbNavContent>
        <app-flashcard></app-flashcard>
      </ng-template>
    </li>
    <li ngbNavItem="bottom">
      <a ngbNavLink>Test session</a>
      <ng-template ngbNavContent>
        <app-flashcard-test></app-flashcard-test>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="ms-4"></div>
</div>