#Flashcard
{
  background-color:cornflowerblue;
  border-radius: 2%;
  padding: 5%;
  width: 500px;
  margin: 20px;
}

#Content
{
  background-color:aliceblue;
  border-radius: 3%;
  padding: 2%;
  margin: 20px;
}

#Result
{
  float: right;
}